.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #202020;
  position: fixed;
  top: 60px;
  left: 0;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 16px;
}

.sidebar a:hover {
  color: red;
}
