.home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
  width: 100%;
}


.video-card {
  background-color: #1f1f1f;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.video-card:hover {
  transform: scale(1.05);
}

.video-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.video-card p {
  color: white;
  font-size: 14px;
  padding: 10px;
}
.video-card {
  background-color: #1f1f1f;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}
.video-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}


.video-card:hover {
  transform: scale(1.05);
}
