.watch-container {
  display: flex;
  padding: 20px;
  gap: 20px;
  width: 100%;
  align-items: flex-start;
}

.video-section {
  flex: 3;
}

.player {
  width: 100%;
  height: 450px;
  border-radius: 10px;
}

.video-title {
  color: white;
  margin-top: 10px;
}

.channel-name {
  color: gray;
}

.recommend-section {
  flex: 1;
}

.recommend-card {
  height: 100px;
  background-color: #1f1f1f;
  margin-bottom: 10px;
  border-radius: 10px;
}
.video-section {
  flex: 3;
}

.recommend-section {
  flex: 1;
}
